*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: cornsilk;
}

.header-container{
  background-color: beige;
  height: 8vh;
  width: 100%;
  margin: 0px 0rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a{
  text-decoration: none;
  color:black;
}

.home{
  margin: 20px auto;
  width: 100%;
}

